* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background: ; */
  font-family: monospace;
}
#topbar {
  background: #00bfff;
  margin: 30px;
  padding: 30px;
  border-radius: 15px;
}
#topbar a {
  text-decoration: none;
  color: black;
}
#header {
  margin: 30px;
}
#skin {
  position: absolute;
  margin: 10px;
  left: 100px;
}
#texts {
  margin: 10px;
  float: left;
  position: absolute;
  right: 300px;
  top: 200px;
  font-size: 25px;
}
#texts h1 {
  margin: 0;
}
#texts h2 {
  color: grey;
}
#texts h5 {
  font-size: 15px;
  max-width: 300px;
}
#icons {
  position: absolute;
  margin: 10px;
  float: left;
  right: 440px;
  top: 370px;
}
#icons a {
  margin: 10px;
}
#icon {
  height: 50px;
}
/* PROYECTOS */
#projects {
  margin: 50px auto;
  float: left;
}
#project {
  background: #f5f5f5;
  width: 300px;
  max-width: 300px;
  margin: 10px;
  float: left;
  border-radius: 15px;
  text-align: center;
}
#project-img {
  height: 150px;
  width: 150px;
  margin: 10px;
}
#abandonado {
  color: red;
}
@media only screen and (max-width: 600px) {
  #texts {
    margin: 10px;
    left: 15px;
    top: 200px;
  }
  #texts h5 {
    font-size: 15px;
    width: 200px;
    max-width: 200px;
  }
  #skin {
    display: none;
  }
  #icons {
    margin: 10px;
    right: 50px;
    top: 460px;
  }
  #projects {
    position: absolute;
    left: 30px;
    right: 10px;
  }
}
#notfound {
  text-align: center;
  max-height: 400px;
  background: #f5f5f5;
  max-width: 400px;
  margin: 30px auto;
  border-radius: 15px;
  border: 1px solid black;
}
#notfound img {
  max-height: 300px;
}
#notfound-button {
  position: absolute;
  text-decoration: none;
  padding: 30px 50px;
  background: #f5f5f5;
  border: 1px solid black;
  border-radius: 15px;
  color: black;
  top: 420px;
  left: 44%;
  font-size: 20px;
}
